// variable:
// $primary-color: #333

// to add other files
// @use 'base'

%info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

%flx-btwn {
  display: flex;
  justify-content: space-between;
}

%bttn {
  border: 2px solid #95dab4;
  border-radius: 8px;
  padding: 6px 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  color: #262626;
}

.nav {
  align-items: center;
  background-color: #35604224;
  height: 100px;
  padding: 0 30px;
  position: fixed;
  width: 100%;
}

.nav,
.nav-sec  {
    @extend %flx-btwn;
    .nav-link {
      color: #262626;
      font-weight: bold;
      list-style: none;
      margin-left: 50px;
      padding: 6px 10px;
      text-decoration: none;
    }
    .nlm:hover { color: #95dab4; }
    .nlp { color: #7345d8; }
    .cntc-link {
      @extend %bttn;
      background-color: #95dab4;
    }
}


.text {
  text-align: center;
}

.block {
  background-color: #e4e4e4;
  margin: 0 auto;
  min-height: 30vh;
  padding: 20px 10% 40px;
  width: 100%;
  .h1 { font-size: 3em; }
  .h2 { font-size: 2.5em; }
  .p { font-size: 1.5em; }
}

#intro {
  @extend %info-block;
  background: linear-gradient(#47d04de3, #0c3c0047), no-repeat top/100% url("../images/489112.jpg") fixed;
  color: #f5f1ff;
  height: 70vh;
  padding-top: 100px;
  text-shadow: 1px 1px 1px #757575;
}

#p-title,
#portfolio,
#about,
#contact { @extend %info-block; }

#p-title { background: linear-gradient(#006c93,#00a4df); }

#about {
  background: #e8eff2;
  color: #313131;
}

#contact { background: #55ce7d; }

.footer {
  background-color: #2d2a2a;
  color: #8e8e8e;
  padding: 40px 0 50px;
}
#portfolio { background: linear-gradient(#ffffff7d,#ffffff7d), no-repeat center/100% url("../images/0NUOGy.jpg") fixed; }

.project {
  background-color: #fbfbfb;
  border: 1px solid #000;
  box-shadow: 2px 2.5px 7px 3px #c4c4c4;
  display: flex;
  max-width: 90%;
  margin: auto auto;
  .prj-left {
    height: 100%;
    max-width: 30%;
    min-width: 20%;
  }
  .prj-right {
    max-width: 70%;
    padding: 35px;
    .prj-text { padding-top: 35px; }
    .prj-codes {
      padding: 35px 0px;
      .code {
        @extend %bttn;
        display: inline-block;
        margin-top: 5px;
      }
    }
    & button {
      border: none;
      border-radius: 5px;
      box-shadow: 0.5px 1px 1.5px 0.5px #c4c4c4;
      padding: 5px;
      &:hover {
        box-shadow: 2px 2.5px 1.5px 0.5px #c4c4c4;
        transform: translateY(1px);
      }
    }

    .bttn-l {
      background-color: #8053E1;
      color: #fff;
    }
    .bttn-s {
      background-color: #fbfbfb;
      color: #7345d8;
      margin-left: 5px;
    }
  }
}
